body{
    width:1024px;
    font-size:20px;
    background: rgb(215, 215, 215);
    background: -webkit-radial-gradient(#FFFFFF, #68BEFB);
    background:    -moz-radial-gradient(#FFFFFF, #68BEFB)
    repeat scroll 0 0 transparent;
    background:     -ms-radial-gradient(#FFFFFF, #68BEFB);
    background:      -o-radial-gradient(#FFFFFF, #68BEFB);
    background:         radial-gradient(#FFFFFF, #68BEFB);
}

.step {
    text-align:center;
    width:1024px;
    font-size:60px;
}

.h1 {
    font-size: 80px;
}

li {
    list-style-type: none;
    margin: 0 0 10px 0;
}